.main{
    background-image: url('../../assets/paint1.svg'); 
    background-size: cover;
    background-position: center; 
    &-card-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.title-flex{
    display: flex;
    justify-content: center;
}
.button{
    &-dislike{
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-color: pink;
        border-radius: 0 3px 3px 0;
        user-select: none;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 1rem;
        position: relative;
        &:hover {
          background-color: rgb(245,243,243,0.9);
        }
        &:active{
            background-color: rgba(53, 53, 53, 0.9);
            color:rgba(53, 53, 53, 0.9);
        }
    }
    &-like{
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-color: pink;
        border-radius: 0 3px 3px 0;
        user-select: none;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 1rem;
        position: relative;
        margin-left: 1rem;
        &:hover {
            background-color: rgb(245,243,243,0.9);
        }
        &:active{
            background-color: rgba(255, 136, 136, 0.9);
            color: pink;
        }
    }
}

.button-container{
    display: flex;
    flex-direction: row;
    max-height: 75px;
}