.login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    max-width: 300px;
}

.formContainer{
    background-image: url('../../assets/paint2.svg'); /* Specify the path to your image */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Position the image at the center */
}